/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */

/** 发起流程布局*/
.type-box {
	padding: 20px;
	width: 140px;
	height: 140px;
	text-align: center;
	margin: 0 auto 10px auto;
	padding-bottom: 12px; //
	overflow: hidden;
	background: #bbb;
}

.type-box a {
	float: left;
	margin: 5px 5px 5px 5px;
	padding: 15px 10px 15px 15px;
	display: block;
	width: 130px;
	height: 130px;
	overflow: hidden;
	text-decoration: none;
	background: #eee;
	border: 3px solid #eee;
	color: #dc562e;
}

.type-box a div {
	font-size: 14px;
	font-family: "微软雅黑";
}

.type-box a div:first-letter {
	font-size: 200%;
	font-weight: bold;
	float: center;
	margin: 0 5px;
}

.type-box a:hover {
	color: #dc562e;
	background: #eee;
	border: 3px solid #dc562e;
}

.superbox-list img:hover {
	border: 3px solid #dc562e;
	text-decoration:none;
}
.superbox-list img{
	border: 3px solid #bbb;
	text-decoration:none;
}