<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation=" 
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd 
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd 
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="classpath:/conf/jdbc.properties" />
	</bean>
	<bean id="foxbpmDataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${idbase.driverClassName}" />
		<property name="url" value="${idbase.url}" />
		<property name="username" value="${idbase.username}" />
		<property name="password" value="${idbase.password}" />
	</bean>

	<bean id="foxbpmDataSourceManager" class="org.foxbpm.engine.spring.SpringDataSourceManager">
		<property name="dataSource" ref="foxbpmDataSource" />
	</bean>

	<bean id="foxbpmTransactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="foxbpmDataSource" />
	</bean>

	<bean id="processEngineConfigurationSpring"
		class="org.foxbpm.engine.spring.ProcessEngineConfigurationSpring">
		<property name="dataSourceManager" ref="foxbpmDataSourceManager" />
		<property name="transactionManager" ref="foxbpmTransactionManager" />
	</bean>
	<bean id="processEngineConfiguration" class="org.foxbpm.engine.impl.ProcessEngineConfigurationImpl">
		<property name="dataSourceManager" ref="foxbpmDataSourceManager" />
	</bean>
	<bean id="processEngineConfigurationDecrator"
		class="org.foxbpm.engine.spring.ProcessEngineConfigurationSpringDecrator">
		<constructor-arg>
			<ref bean="processEngineConfiguration" />
		</constructor-arg>
		<property name="springTransactionManager" ref="foxbpmTransactionManager" />
	</bean>
	<bean id="foxbpmConnectionFactory" class="org.foxbpm.web.db.factory.FoxbpmDBConnectionFactory"
		scope="singleton">
		<property name="dataSource">
			<ref bean="foxbpmDataSource" />
		</property>
	</bean>
	<bean id="processEngine" class="org.foxbpm.engine.spring.ProcessEngineFactoryBean">
		<property name="processEngineConfiguration" ref="processEngineConfigurationSpring" />
		<property name="processEngineConfigurationDecrator" ref="processEngineConfigurationDecrator"></property>
	</bean>

	<bean id="taskService" factory-bean="processEngine"
		factory-method="getTaskService" />
	<bean id="modelService" factory-bean="processEngine"
		factory-method="getModelService" />
	<bean id="runtimeService" factory-bean="processEngine"
		factory-method="getRuntimeService" />

	<bean id="exceptionEnvironment" class="org.foxbpm.web.common.env.ExceptionEnvironment"
		scope="singleton" init-method="init"></bean>
	<bean id="propertiesUtil" class="org.foxbpm.web.I18N.PropertiesUtil"
		scope="singleton" init-method="initProperties" />


	<bean id="bizDBImpl" class="org.foxbpm.web.db.impl.BizDBImpl">
		<property name="dbfactory">
			<ref bean="foxbpmConnectionFactory" />
		</property>
	</bean>
	<bean id="abstractWebappService" abstract="true">
		<property name="bizDB" ref="bizDBImpl" />
		<property name="dbfactory" ref="foxbpmConnectionFactory" />
		<property name="taskService" ref="taskService" />
		<property name="runtimeService" ref="runtimeService" />
		<property name="modelService" ref="modelService" />
	</bean>
	<bean id="webappProcessServiceTarget" class="org.foxbpm.web.service.impl.WebappProcessService"
		parent="abstractWebappService" />

	<bean id="webappTaskServiceTarget" class="org.foxbpm.web.service.impl.WebappTaskService"
		parent="abstractWebappService" />

	<bean id="foxbpmMethodBeforeInvokeLogger"
		class="org.foxbpm.web.service.aop.FoxbpmMethodBeforeInvokeLogger" />
	<bean id="foxbpmMethodAfterInvokeLogger"
		class="org.foxbpm.web.service.aop.FoxbpmMethodAfterInvokeLogger" />
	<bean id="foxbpmMethodInvokeInterceptor"
		class="org.foxbpm.web.service.aop.FoxbpmMethodInvokeInterceptor" />
	<bean id="foxbpmMethodInvokeExceptionLogger"
		class="org.foxbpm.web.service.aop.FoxbpmMethodInvokeExceptionLogger" />

	<bean id="webappProcessService" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces">
			<value>
				org.foxbpm.web.service.interfaces.IWebappProcessService
			</value>
		</property>
		<property name="interceptorNames">
			<list>
				<value>foxbpmMethodBeforeInvokeLogger</value>
				<value>foxbpmMethodAfterInvokeLogger</value>
				<value>foxbpmMethodInvokeInterceptor</value>
				<value>foxbpmMethodInvokeExceptionLogger</value>
			</list>
		</property>
		<property name="target">
			<ref bean="webappProcessServiceTarget" />
		</property>
	</bean>
	<bean id="webappTaskService" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces">
			<value>org.foxbpm.web.service.interfaces.IWebappTaskService
			</value>
		</property>
		<property name="interceptorNames">
			<list>
				<value>foxbpmMethodBeforeInvokeLogger</value>
				<value>foxbpmMethodAfterInvokeLogger</value>
				<value>foxbpmMethodInvokeInterceptor</value>
				<value>foxbpmMethodInvokeExceptionLogger</value>
			</list>
		</property>
		<property name="target">
			<ref bean="webappTaskServiceTarget" />
		</property>
	</bean>
	<tx:advice id="foxbpmTransactionAdvice" transaction-manager="foxbpmTransactionManager">
		<tx:attributes>
			<tx:method name="query*" propagation="REQUIRED" read-only="true" />
			<tx:method name="get*" propagation="REQUIRED" read-only="true" />
			<tx:method name="create*" propagation="REQUIRED" />
			<tx:method name="del*" propagation="REQUIRED" />
			<tx:method name="save*" propagation="REQUIRED" />
			<tx:method name="update*" propagation="REQUIRED" />
		</tx:attributes>
	</tx:advice>

	<aop:config>
		<aop:pointcut id="executeFunctionPointCut"
			expression="execution(* org.foxbpm.web.service.impl.*.*(..))" />
		<aop:advisor advice-ref="foxbpmTransactionAdvice"
			pointcut-ref="executeFunctionPointCut" />
	</aop:config>
</beans> 
