.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
/* Main Colors
=================================================================== */
.backgroundColor.primary {
  background: #20a8d8;
}
.backgroundColor.success {
  background: #79c447;
}
.backgroundColor.info {
  background: #67c2ef;
}
.backgroundColor.warning {
  background: #fabb3d;
}
.backgroundColor.danger {
  background: #ff5454;
}
.backgroundColorTitle.primary .title {
  background: #20a8d8;
}
.backgroundColorTitle.success .title {
  background: #79c447;
}
.backgroundColorTitle.info .title {
  background: #67c2ef;
}
.backgroundColorTitle.warning .title {
  background: #fabb3d;
}
.backgroundColorTitle.danger .title {
  background: #ff5454;
}
.rtl {
  direction: rtl!important;
}
.rtl .pull-right {
  float: left !important;
}
.rtl .pull-left {
  float: right !important;
}
.rtl .text-right {
  text-align: left !important;
}
.rtl .text-left {
  text-align: right !important;
}
.rtl .breadcrumb li {
  margin-left: 20px;
  margin-right: auto;
}
.rtl .breadcrumb > li + li:before {
  left: 0;
  right: -12px;
}
.rtl .breadcrumb > .active {
  color: #d4d4d4;
}
.rtl .pace .pace-activity {
  left: 15px;
  right: auto;
}
.rtl .navbar {
  padding: 0 235px 0 0;
}
.rtl .navbar .navbar-right {
  float: left !important;
}
.rtl .navbar .navbar-left {
  float: right !important;
}
.rtl .navbar .navbar-nav li {
  float: right;
}
.rtl .navbar .navbar-nav li a {
  border-left: none !important;
  border-right: 1px solid #d5d5d5 !important;
}
.rtl .navbar .navbar-nav li .dropdown-menu {
  right: auto !important;
  left: 0 !important;
}
.rtl .navbar .navbar-nav li .dropdown-menu:after {
  top: -7px;
  left: 16px;
  right: auto;
}
.rtl .navbar .navbar-nav li .dropdown-menu:before {
  top: -9.5px;
  left: 16px;
  right: auto;
}
.rtl .navbar .navbar-nav li .dropdown-menu li i {
  font-size: 14px;
}
.rtl .navbar .navbar-nav li .dropdown-menu li a img.avatar {
  height: 40px;
  -webkit-border-radius: 50em;
  -moz-border-radius: 50em;
  border-radius: 50em;
  border: 1px solid #d4d4d4;
  margin: 0px -5px 0 10px;
  float: right;
}
.rtl .navbar .navbar-nav li .dropdown-menu li a .label {
  left: 10px;
  right: auto;
}
.rtl .navbar .navbar-nav li .dropdown-menu li a i {
  margin: 0 -5px 0 10px;
}
.rtl .navbar .navbar-nav li .dropdown-menu li.avatar {
  min-width: 250px;
}
.rtl .navbar .navbar-actions a {
  border-left: 1px solid #d5d5d5 !important;
  border-right: none;
}
.rtl .navbar .navbar-form {
  border-left: 1px solid #d5d5d5;
  border-right: 1px solid #d5d5d5;
}
.rtl .sidebar {
  position: fixed;
  left: auto;
  right: 0 !important;
}
.rtl .sidebar .sidebar-header img {
  float: right;
  margin: 0 0 0 10px;
}
.rtl .sidebar .sidebar-header .user-menu {
  left: 0 !important;
  right: auto !important;
}
.rtl .sidebar ul.nav.nav-sidebar li a i {
  margin: 0 0 0 20px;
}
.rtl .sidebar ul.nav.nav-sidebar li a .indicator {
  left: 20px !important;
  right: auto !important;
}
.rtl .sidebar .sidebar-footer {
  bottom: 0;
  left: auto;
  right: 0;
}
.rtl .sidebar .sidebar-footer ul.sidebar-footer-menu li:last-child {
  border-right: 1px solid #494949;
}
.rtl .main {
  padding: 90px 280px 0 30px;
}
.rtl .panel .panel-heading .pull-right {
  float: left !important;
}
.rtl .panel .panel-heading .pull-left {
  float: right !important;
}
.rtl .panel .panel-heading .panel-actions {
  float: left;
  margin-left: -15px;
  margin-right: auto;
  border-right: 1px solid white;
  border-left: none;
}
.rtl .panel .panel-heading .panel-actions a {
  border-left: none;
  border-right: 1px solid #d4d4d4;
}
.rtl .panel .panel-heading .nav-tabs {
  float: left;
  margin-right: auto;
  margin-left: -1px;
  border: none;
}
.rtl .panel .panel-heading .nav-tabs li {
  border: none;
}
.rtl .panel .panel-heading .nav-tabs li a {
  border-left: none !important;
  border-right: 1px solid #d4d4d4 !important;
}
.rtl .panel .panel-heading .nav-tabs li.active > a {
  background: white;
  border-left: none !important;
  border-right: 1px solid #d4d4d4 !important;
}
.rtl .panel .panel-heading .nav-tabs li:hover {
  border: none;
}
.rtl .panel .panel-heading .nav-tabs li:first-child {
  border: none;
}
.rtl footer {
  padding: 0 270px 0px 20px;
}
.rtl #usage {
  padding: 0 250px 0 0;
}
.rtl #usage ul li:first-child {
  border-right: none !important;
}
.rtl #usage ul li:last-child {
  border-right: 1px solid #afafaf !important;
}
.rtl #usage ul li .title,
.rtl #usage ul li .bar,
.rtl #usage ul li .desc {
  float: right;
}
.rtl #usage ul li .title {
  text-align: left;
}
.rtl .todo-list {
  margin-top: -1px;
}
.rtl .todo-list ul {
  padding: 5px 0 0 0;
}
.rtl .todo-list ul li {
  padding: 0 25px 0 15px;
}
.rtl .todo-list ul li:before,
.rtl .todo-list ul li:after {
  border-left: 1px dotted #d4d4d4;
  border-right: 1px dotted #d4d4d4;
}
.rtl .todo-list ul li:before {
  left: auto;
  right: 8px;
}
.rtl .todo-list ul li:after {
  left: auto;
  right: 10px;
}
.rtl .todo-list ul li .custom-checkbox-item {
  margin: 1px -16px 4px 15px;
  float: right !important;
}
.rtl .calendar .list ul li .custom-checkbox-item {
  margin-right: -50px;
}
.rtl .calendar .list ul li .custom-checkbox-desc {
  padding-right: 12px;
}
.rtl .calendar .list ul li i {
  left: 0;
  right: auto;
  top: 16px;
}
.rtl .discussions ul li {
  margin: 0 80px 20px 40px;
}
.rtl .discussions ul li:before {
  left: auto;
  right: -20px;
  border-left: 10px solid #d4d4d4;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: none !important;
}
.rtl .discussions ul li:after {
  left: auto;
  right: -19px;
  border-left: 10px solid white;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: none !important;
}
.rtl .discussions ul li .author {
  left: 0;
  right: -70px;
}
.rtl .discussions ul li .name {
  right: 10px;
  width: 100%;
}
.rtl .discussions ul li .date {
  left: -1px;
  right: auto;
  padding: 5px 10px 5px 20px;
}
.rtl .discussions ul li .delete {
  left: -30px;
  right: auto;
}
.rtl .discussions ul li ul {
  overflow: hidden;
}
.rtl .discussions ul li ul li {
  margin: 0 -10px;
  padding-left: 10px;
  padding-right: 70px;
}
.rtl .discussions ul li ul li .author {
  right: 10px;
}
.rtl .discussions ul li ul li .name {
  right: 70px;
}
.rtl .discussions ul li ul li .date {
  left: 30px;
}
.rtl .discussions ul li ul li .delete {
  left: 10px;
}
.rtl .smallstat i {
  float: right;
  margin-left: 10px;
  margin-right: auto;
}
.rtl .info-box i {
  float: right;
  text-align: center;
  border-right: none;
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  margin-left: 20px;
  padding-left: 20px;
  margin-right: auto;
  padding-right: auto;
}
.rtl table.table thead .sorting {
  background-position: center left;
}
.rtl table.table thead .sorting_asc {
  background-position: center left;
}
.rtl table.table thead .sorting_desc {
  background-position: center left;
}
.rtl table.table thead .sorting_asc_disabled {
  background-position: center left;
}
.rtl table.table thead .sorting_desc_disabled {
  background-position: center left;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .rtl table.table thead .sorting {
    background-position: center left;
  }
  .rtl table.table thead .sorting_asc {
    background-position: center left;
  }
  .rtl table.table thead .sorting_desc {
    background-position: center left;
  }
  .rtl table.table thead .sorting_asc_disabled {
    background-position: center left;
  }
  .rtl table.table thead .sorting_desc_disabled {
    background-position: center left;
  }
}
@media (max-width: 991px) {
  .rtl .navbar {
    padding: 0;
  }
  .rtl .navbar .navbar-actions {
    margin-right: -15px;
    margin-left: auto;
  }
  .rtl .main {
    padding: 90px 30px 0 30px;
  }
  .rtl footer {
    padding: 0 20px;
    text-align: center !important;
  }
}
@media (max-width: 991px) {
  .mm-menu {
    left: auto;
    right: 0;
  }
  .mm-menu > .mm-panel {
    left: auto;
    right: 100%;
  }
  .mm-menu > .mm-panel.mm-opened {
    left: auto;
    right: 0%;
  }
  .mm-menu > .mm-panel.mm-subopened {
    left: auto;
    right: -40%;
  }
  .mm-list > li:not(.mm-subtitle):not(.mm-label):not(.mm-search):not(.mm-noresults):after {
    left: auto;
    right: 0;
  }
  .mm-list > li:not(.mm-subtitle):not(.mm-label):not(.mm-search):not(.mm-noresults):after {
    left: auto;
    right: auto;
  }
  .mm-list a.mm-subopen:before {
    left: auto;
    right: 0;
  }
  .mm-list a.mm-subopen + a,
  .mm-list a.mm-subopen + span {
    padding-right: 5px;
    margin-right: 40px;
  }
  .mm-list a.mm-subclose:before {
    left: auto;
    right: 22px;
  }
  .mm-page,
  .mm-fixed-top,
  .mm-fixed-bottom,
  .navbar,
  footer {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
  }
  .mm-fixed-top,
  .mm-fixed-bottom {
    left: auto;
    right: 0;
  }
  .mm-menu {
    width: 250px;
  }
  html.mm-opening .mm-page,
  html.mm-opening #mm-blocker,
  html.mm-opening .navbar,
  html.mm-opening footer {
    left: auto;
    right: 250px;
  }
}
body.sidebar-minified.rtl .navbar {
  padding: 0 60px 0 0;
}
body.sidebar-minified.rtl .navbar .navbar-actions {
  margin-left: auto;
  margin-right: -15px;
}
body.sidebar-minified.rtl .main {
  width: 100%;
  padding: 90px 90px 30px 30px;
}
body.sidebar-minified.rtl footer {
  padding: 0 80px 0 20px;
}
body.sidebar-minified.rtl #usage {
  padding: 0 60px 0 0;
}
body.sidebar-minified.rtl .sidebar {
  width: 60px;
}
body.sidebar-minified.rtl .sidebar .sidebar-header .user-menu #sidebar-minify {
  bottom: 0 !important;
  left: auto;
  right: 0;
}
body.sidebar-minified.rtl .sidebar ul.nav.nav-sidebar > li > a .text {
  border-right: none !important;
  border-left: 1px solid #4a4a4a !important;
  padding-right: 15px;
  top: 0px;
  right: 37px;
  left: auto;
  text-align: right;
}
body.sidebar-minified.rtl .sidebar ul.nav.nav-sidebar > li:hover > ul {
  top: 42px;
  left: auto;
  right: 38px;
}
body.sidebar-hidden.rtl .navbar {
  padding: 0 0 0 0;
}
body.sidebar-hidden.rtl .navbar .navbar-actions {
  margin-left: auto;
  margin-right: -15px;
}
body.sidebar-hidden.rtl .main {
  width: 100%;
  padding: 90px 30px 30px 30px;
}
