<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.foxbpm.sj.OperationMapper" >
  <resultMap id="ProcessOperatingResultMap" type="org.foxbpm.engine.impl.entity.ProcessOperatingEntity" >
    
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="PROCESSINSTANCE_ID" property="processInstanceId" jdbcType="VARCHAR" />
    <result column="PROCESSDEFINITION_ID" property="processDefinitionId" jdbcType="VARCHAR" />
    <result column="PROCESSDEFINITION_NAME" property="processDefinitionName" jdbcType="VARCHAR" />
    <result column="PROCESSDEFINITION_KEY" property="processDefinitionKey" jdbcType="VARCHAR" />
    <result column="TASK_ID" property="taskId" jdbcType="VARCHAR" />
    <result column="TOKEN_ID" property="tokenId" jdbcType="VARCHAR" />
    <result column="NODE_ID" property="nodeId" jdbcType="VARCHAR" />
    <result column="NODE_NAME" property="nodeName" jdbcType="VARCHAR" />
    <result column="OPERATING_TIME" property="operatingTime" jdbcType="TIMESTAMP" />
    <result column="COMMAND_ID" property="commandId" jdbcType="VARCHAR" />
    <result column="COMMAND_TYPE" property="commandType" jdbcType="VARCHAR" />
    <result column="COMMAND_MESSAGE" property="commandMessage" jdbcType="VARCHAR" />
    <result column="OPERATING_COMMENT" property="operatingComment" jdbcType="VARCHAR" />
    <result column="OPERATOR" property="operator" jdbcType="VARCHAR" />
  </resultMap>
  
 
  <sql id="ProcessOperating_Column_List" >
    ID, PROCESSINSTANCE_ID, PROCESSDEFINITION_ID, PROCESSDEFINITION_NAME, PROCESSDEFINITION_KEY, 
    TASK_ID, TOKEN_ID, NODE_ID, NODE_NAME, OPERATING_TIME, COMMAND_ID, COMMAND_TYPE, 
    COMMAND_MESSAGE, OPERATING_COMMENT, OPERATOR
  </sql>
  
  <select id="selectProcessOperatingById" resultMap="ProcessOperatingResultMap" parameterType="java.lang.String" >

    SELECT 
    *
    from FOXBPM_RUN_OPERATING
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  
   <select id="findOperationByTaskId" resultMap="ProcessOperatingResultMap" parameterType="java.lang.String" >
    SELECT 
    *
    FROM FOXBPM_RUN_OPERATING
    WHERE TASK_ID = #{taskId,jdbcType=VARCHAR}
  </select>
  
  
  
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >

    delete from FOXBPM_RUN_OPERATING
    where ID = #{id,jdbcType=VARCHAR}
  </delete>

  <insert id="insertProcessOperating" parameterType="org.foxbpm.engine.impl.entity.ProcessOperatingEntity" >
 
    insert into FOXBPM_RUN_OPERATING (ID, PROCESSINSTANCE_ID, PROCESSDEFINITION_ID, 
      PROCESSDEFINITION_NAME, PROCESSDEFINITION_KEY, 
      TASK_ID, TOKEN_ID, NODE_ID, 
      NODE_NAME, OPERATING_TIME, COMMAND_ID, 
      COMMAND_TYPE, COMMAND_MESSAGE, OPERATING_COMMENT, 
      OPERATOR)
    values (#{id,jdbcType=VARCHAR}, #{processInstanceId,jdbcType=VARCHAR}, #{processDefinitionId,jdbcType=VARCHAR}, 
      #{processDefinitionName,jdbcType=VARCHAR}, #{processDefinitionKey,jdbcType=VARCHAR}, 
      #{taskId,jdbcType=VARCHAR}, #{tokenId,jdbcType=VARCHAR}, #{nodeId,jdbcType=VARCHAR}, 
      #{nodeName,jdbcType=VARCHAR}, #{operatingTime,jdbcType=TIMESTAMP}, #{commandId,jdbcType=VARCHAR}, 
      #{commandType,jdbcType=VARCHAR}, #{commandMessage,jdbcType=VARCHAR}, #{operatingComment,jdbcType=VARCHAR}, 
      #{operator,jdbcType=VARCHAR})
  </insert>

  
  
  <update id="updateProcessOperatingById" parameterType="org.foxbpm.engine.impl.entity.ProcessOperatingEntity" >

    update FOXBPM_RUN_OPERATING
    set PROCESSINSTANCE_ID = #{processDnstanceId,jdbcType=VARCHAR},
      PROCESSDEFINITION_ID = #{processDefinitionId,jdbcType=VARCHAR},
      PROCESSDEFINITION_NAME = #{processDefinitionName,jdbcType=VARCHAR},
      PROCESSDEFINITION_KEY = #{processDefinitionKey,jdbcType=VARCHAR},
      TASK_ID = #{taskId,jdbcType=VARCHAR},
      TOKEN_ID = #{tokenId,jdbcType=VARCHAR},
      NODE_ID = #{nodeId,jdbcType=VARCHAR},
      NODE_NAME = #{nodeName,jdbcType=VARCHAR},
      OPERATING_TIME = #{operatingTime,jdbcType=TIMESTAMP},
      COMMAND_ID = #{commandId,jdbcType=VARCHAR},
      COMMAND_TYPE = #{commandType,jdbcType=VARCHAR},
      COMMAND_MESSAGE = #{commandMessage,jdbcType=VARCHAR},
      OPERATING_COMMENT = #{operatingComment,jdbcType=VARCHAR},
      OPERATOR = #{operator,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>