<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation=" 
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd 
             http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd 
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
	<!-- 配置文件加载 -->
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="classpath:jdbc.properties" />
	</bean>
	<!-- foxbpm数据源 -->
	<bean id="foxbpmDataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${idbase.driverClassName}" />
		<property name="url" value="${idbase.url}" />
		<property name="username" value="${idbase.username}" />
		<property name="password" value="${idbase.password}" />
	</bean>
	
	<!-- foxbpm数据源管理 -->
	<bean id="foxbpmDataSourceManager" class="org.foxbpm.engine.spring.SpringDataSourceManager">
		<property name="dataSource" ref="foxbpmDataSource" />
	</bean>
    <!-- foxbpm事物管理 -->
	<bean id="foxbpmTransactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="foxbpmDataSource" />
	</bean>
     <!-- 流程引擎配置 -->
	<bean id="processEngineConfigurationSpring"
		class="org.foxbpm.engine.spring.ProcessEngineConfigurationSpring">
		<property name="dataSourceManager" ref="foxbpmDataSourceManager" />
		<property name="transactionManager" ref="foxbpmTransactionManager" />
	</bean>
	
	<!-- 流程引擎 -->
	<bean id="processEngine" class="org.foxbpm.engine.spring.ProcessEngineFactoryBean">
		<property name="processEngineConfiguration" ref="processEngineConfigurationSpring" />
	</bean>

	<!-- 任务服务 -->
	<bean id="taskService" factory-bean="processEngine" factory-method="getTaskService" />
	<!-- 模型服务 -->
	<bean id="modelService" factory-bean="processEngine" factory-method="getModelService" />
	<!-- 运行时服务 -->
	<bean id="runtimeService" factory-bean="processEngine" factory-method="getRuntimeService" />
	<!-- 运行时服务 -->
	<bean id="identityService" factory-bean="processEngine" factory-method="getIdentityService" />
</beans> 
